@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@700&display=swap');

.container2 {
  width: 600px;
}

h1.post-title {
  /* font-family: 'DM Serif Display'; */
  font-family: 'Noto Serif SC', 'Courier New', Courier, monospace;
  font-size: 32px;
  /* padding-top: 15px; */
  padding-bottom: 15px;
  /* line-height: 33px; */
}

ul {
  /* list-style: none; */
  margin-left: 1.5rem;
}

img {
  border: 1px solid #999999;
  /* box-shadow: 0px; */
  /* box-shadow: 0 0 1px rgb(0 0 0 / 50%); */
  margin-top: 3%;
  margin-bottom: 3%;
  max-width: 100%;
}

.highlight {
  margin-top: 3%;
  margin-bottom: 3%;
}

.highlight-font {
  font-family: 'Noto Serif SC', 'Courier New', Courier, monospace;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}


.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-end {
  justify-content: end;
}
.items-center {
  /* justify-items: center; */
  align-items: center;
}
.post-list{
  list-style: none;
  padding: 0;
  /* list-style-type: none; */
}
.post-list > li{
  /* padding-top: 10px; */
  padding-bottom: 15px;
  /* list-style-type: none; */
}
.site-nav{
  list-style: none;
  padding: 0;
}
.site-nav-item {
  margin-left: 20px;
  padding: 0;
}

.footer {
  padding-top: 50px;
  padding-bottom: 30px;
}
.font-bold {
  font-weight: bold;
}
.pagination {
  font-size: 13px;
}

.ml-3	{ 
  margin-left: 0.75rem;
}
.ml-4	{ 
  margin-left: 1rem;
}
.ml-5	{ 
  margin-left: 1.25rem;
}

a {
  color: #146ebe;
}
a.icon:hover > i {
  color: #146ebe;
  text-decoration: none;
  /* background-size: 100% 200%;
  transition:
    background-position .2s ease-in-out */
}
.text-main {
  color: #222222;
}

table {
  width: 100%;
}

.text-xs {
  font-size: 13px;
  line-height: 1rem;
} 
.pb-4 {
  padding-bottom: 1rem; /* 16px */
}

pre {
  overflow: auto;
}

main > div.container {
  padding: 0;
}
/* code {
  padding: 3px;
} */

/* ================================================================= */

html {
  overflow: auto;
}

/* img {
  max-width: 100%;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  margin-bottom: 1%;
} */

@media (min-width: 550px) {
  /*
  Side by side gallery
  use with </> alignment
  e.g.
  [_gallery >](imgages/test.jpg)
  */
  img[alt~="_gallery"] {
    max-width: 49.5%;
  }

  /* Aligned to the right */
  img[alt$=">"] {
    float: right;
  }

  /* Aligned to the left */
  img[alt$="<"] {
    float: left;
  }

  /* Centered image */
  img[alt$="><"] {
    display: block;
    margin: auto;
    float: none !important;
  }
}

.center {
  text-align: center;
}

.left {
  margin-left: 0;
}

.lit {
  font-size: 1.5rem;
  font-weight: 300;
}

.little-svg {
  fill: #fff;
}

.ml-0 {
  margin-left: 0.7rem;
}

.ml {
  margin-left: 2rem;
}

.ml-1 {
  margin-left: 5rem;
}

.bottom {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-bottom: 0px;
}

.mb-1 {
  margin-bottom: 0px;
}

.mb-2 {
  margin-bottom: 5px;
}

.mb-3 {
  margin-bottom: 20px;
}

.mr {
  margin-right: 32px;
}

.mt-0 {
  margin-top: 0px;
}

.mt-2 {
  margin-top: 3rem;
}

.mt-3 {
  margin-top: 4rem;
}

.mx-auto {
  margin: auto;
}

.mode {
  position: absolute;
  display: block;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.tag-link {
  margin-right: 10px;
}

.about {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

code:not(pre code) {
  background-color: rgb(230, 230, 230);
  border-radius: 5px;
  padding: 3px 10px;
  font-size: 85%;
}

body.darkmode code:not(pre code) {
  background-color: rgb(65, 65, 65);
}

/* blockquote */
blockquote {
  font-family: 'Inter';
  background-color: rgba(148, 148, 149, 0.08) ;
  margin: 1.5em 0px;
  padding: 1.1em 20px 1px 20px;
  font-style: italic;
}

blockquote footer {
  font-family: 'Inter';
  font-size: 16px;
  padding-bottom: 10px;
  margin-top: -10px;
}

blockquote footer cite:before {
  content: "—";
  padding: 0 0.5em;
}

/* Scroll bar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgb(128 128 128 / 70%);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgb(128 128 128 / 20%);
}

::-webkit-scrollbar-thumb:active {
  background-color: rgb(128 128 128 / 100%);
}

/* Footer */
a.footer-link:hover,
a.footer-link:focus {
  cursor: pointer;
}

.svg-hov {
  transition: all .2s ease-in-out;
}
.svg-hov:hover {
  transform: translateY(-3px);
  transition: all .2s ease-in-out;

}

.hexo {
  fill: #03adfc;
  vertical-align: middle;
  padding-bottom: 4px;
}

.github {
  fill: #63636F;
  color: #63636F;
}
.email {
  color: #183153;
}
.curriculum-vitae {
  color: #E4405F;
}
.linkedin {
  fill: #0073b1;
  color: #0073b1;
}
.twitter {
  fill: #1DA1F2;
}
.instagram {
  fill: #E4405F
}
.stackoverflow {
  fill: #ca7516;
}
.nanobar {
  left: 0;
}

body {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  padding: 5px;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: all 0.3s ease-in-out;
  font-family: 'Inter', 'Courier New', Courier, monospace;
}

body.darkmode {
  background: rgb(34, 34, 38);
  color: rgb(230, 230, 230);
}

.trans {
  animation: transitionPlay 0.7s;
}

@keyframes transitionPlay {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.hidden {
  display: none;
}

#comments {
  text-align: center;
}

#madewith {
  text-align: center;
}

.posisi {
  text-align: center;
}

@media (min-width: 550px) {
  .posisi {
    text-align: right;
  }

  #comments {
    text-align: left;
  }

  #madewith {
    text-align: left;
  }

}